trigger:
- main
# final version part 14
#  az disk delete --name myosdisk1 --resource-group eli7e-rg --yes
#  git add main.tf && git commit -m "Use dynamic disk name and enable auto-delete for disks" && git push
##########################################
#  terraform state rm azurerm_resource_group.example
#  az disk delete --name myosdisk1 --resource-group eli7e-rg --yes --no-wait
#  git add main.tf && git commit -m "Change resource group to data source - should not be destroyed" && git push
##########################################
#  az group create --name eli7e-terraform-state-rg --location "UK South"
# az resource move --destination-group eli7e-terraform-state-rg --ids /subscriptions/ac735d05-0b35-4660-a3e3-6df6aedfe159/resourceGroups/eli7e-rg/providers/Microsoft.Storage/storageAccounts/eli7estorage
# az role assignment create --role "Storage Blob Data Contributor" --assignee 9699f8c4-e415-4dde-b49b-d43f2ed0f4f9 --scope "/subscriptions/ac735d05-0b35-4660-a3e3-6df6aedfe159/resourceGroups/eli7e-terraform-state-rg/providers/Microsoft.Storage/storageAccounts/eli7estorage"
#  az role assignment create --role "Storage Blob Data Contributor" --assignee cb0cd941-8cf1-4c51-9116-41652d27eb7b --scope "/subscriptions/ac735d05-0b35-4660-a3e3-6df6aedfe159/resourceGroups/eli7e-terraform-state-rg/providers/Microsoft.Storage/storageAccounts/eli7estorage"
#  sleep 10 && cd /home/eli7e/Documents/terraform_projects/terraform_code && terraform init -reconfigure
# az storage account show -n eli7estorage --query "{Name:name, ResourceGroup:resourceGroup, Id:id}" -o json
# terraform init -migrate-state
# git add backend.tf main.tf && git commit -m "Move state storage to separate resource group, use eli7e-rg as managed resource" && git push
# ✅ Created eli7e-terraform-state-rg - Separate resource group for state storage
# ✅ Moved eli7estorage - Storage account relocated to the new resource group
# ✅ Updated backend.tf - Points to new resource group location
# ✅ Updated main.tf - eli7e-rg is now a managed resource again
# ✅ Granted permissions - Service principal and user have access to new location
# ✅ Migrated state - Terraform state successfully moved to new backend
##################################################
#  git add provider.tf && git commit -m "Enable force delete for resource groups to clean up orphaned resources" && git push
###########################################################
stages:
- stage: Build
  jobs:
  - job: Build
    pool:
      name: kaka_vmss
    steps:
    - task: TerraformTask@5
      displayName: tf init
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: 'eli7e_service_connection_vmss'
        backendAzureRmResourceGroupName: 'eli7e-terraform-state-rg'
        backendAzureRmStorageAccountName: 'eli7estorage'
        backendAzureRmContainerName: 'eli7e-tfstate'
        backendAzureRmKey: 'prod.terraform.tfstate'
    
    - task: TerraformTask@5
      displayName: tf validate
      inputs:
        provider: 'azurerm'
        command: 'validate'
        environmentServiceNameAzureRM: 'eli7e_service_connection_vmss'
    
    - task: TerraformTask@5
      displayName: tf format
      inputs:
        provider: 'azurerm'
        command: 'custom'
        outputTo: 'console'
        customCommand: 'fmt'
        environmentServiceNameAzureRM: 'eli7e_service_connection_vmss'
    
    - task: TerraformTask@5
      displayName: tf plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        commandOptions: '-out tfplanfile'
        environmentServiceNameAzureRM: 'eli7e_service_connection_vmss'
    
    - task: ArchiveFiles@2
      displayName: Archive files
      inputs:
        rootFolderOrFile: '$(Build.SourcesDirectory)'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
        replaceExistingArchive: true
    
    - task: PublishBuildArtifacts@1
      displayName: publish
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: '$(Build.BuildId)-build'
        publishLocation: 'Container'

- stage: Deploy
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: DeployTerraform
    displayName: Deploy Infrastructure
    pool:
      name: kaka_vmss
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadBuildArtifacts@1
            displayName: Download Build Artifacts
            inputs:
              buildType: 'current'
              downloadType: 'single'
              artifactName: '$(Build.BuildId)-build'
              downloadPath: '$(System.ArtifactsDirectory)'
          
          - task: ExtractFiles@1
            displayName: Extract Terraform Files
            inputs:
              archiveFilePatterns: '$(System.ArtifactsDirectory)/$(Build.BuildId)-build/$(Build.BuildId).zip'
              destinationFolder: '$(Pipeline.Workspace)/terraform'
              cleanDestinationFolder: true
          
          - task: TerraformTask@5
            displayName: tf init
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(Pipeline.Workspace)/terraform'
              backendServiceArm: 'eli7e_service_connection_vmss'
              backendAzureRmResourceGroupName: 'eli7e-terraform-state-rg'
              backendAzureRmStorageAccountName: 'eli7estorage'
              backendAzureRmContainerName: 'eli7e-tfstate'
              backendAzureRmKey: 'prod.terraform.tfstate'
          
          - task: TerraformTask@5
            displayName: tf apply
            inputs:
              provider: 'azurerm'
              command: 'apply'
              workingDirectory: '$(Pipeline.Workspace)/terraform'
              commandOptions: 'tfplanfile'
              environmentServiceNameAzureRM: 'eli7e_service_connection_vmss'

- stage: Destroy
  dependsOn: Deploy
  condition: succeeded()
  jobs:
  - deployment: DestroyTerraform
    displayName: Destroy Infrastructure
    pool:
      name: kaka_vmss
    environment: 'destruction'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadBuildArtifacts@1
            displayName: Download Build Artifacts
            inputs:
              buildType: 'current'
              downloadType: 'single'
              artifactName: '$(Build.BuildId)-build'
              downloadPath: '$(System.ArtifactsDirectory)'
          
          - task: ExtractFiles@1
            displayName: Extract Terraform Files
            inputs:
              archiveFilePatterns: '$(System.ArtifactsDirectory)/$(Build.BuildId)-build/$(Build.BuildId).zip'
              destinationFolder: '$(Pipeline.Workspace)/terraform'
              cleanDestinationFolder: true
          
          - task: TerraformTask@5
            displayName: tf init
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(Pipeline.Workspace)/terraform'
              backendServiceArm: 'eli7e_service_connection_vmss'
              backendAzureRmResourceGroupName: 'eli7e-terraform-state-rg'
              backendAzureRmStorageAccountName: 'eli7estorage'
              backendAzureRmContainerName: 'eli7e-tfstate'
              backendAzureRmKey: 'prod.terraform.tfstate'
          
          - task: TerraformTask@5
            displayName: tf destroy
            inputs:
              provider: 'azurerm'
              command: 'destroy'
              workingDirectory: '$(Pipeline.Workspace)/terraform'
              environmentServiceNameAzureRM: 'eli7e_service_connection_vmss'
