trigger:
  - main

pool:
  name: 'eli7e_vmss_19_Jan_2026'

stages:
  - stage: Plan
    displayName: 'Terraform Plan'
    jobs:
      - job: TerraformPlan
        displayName: 'Run Terraform Plan'
        steps:
          - task: TerraformTaskV5@5
            displayName: 'terraform init'
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)'
              backendServiceArm: 'Visual Studio Enterprise Subscription(ac735d05-0b35-4660-a3e3-6df6aedfe159)'
              backendAzureRmResourceGroupName: 'eli7e-terraform-state-rg'
              backendAzureRmStorageAccountName: 'eli7estorage'
              backendAzureRmContainerName: 'eli7e-tfstate'
              backendAzureRmKey: 'prod.terraform.tfstate'

          - task: TerraformTaskV5@5
            displayName: 'terraform plan'
            inputs:
              provider: 'azurerm'
              command: 'plan'
              workingDirectory: '$(System.DefaultWorkingDirectory)'
              commandOptions: '-out tfplanfile -detailed-exitcode'
              environmentServiceNameAzureRM: 'Visual Studio Enterprise Subscription(ac735d05-0b35-4660-a3e3-6df6aedfe159)'
